@font-face {
  font-family: 'Good-Dog';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/GoodDog.ttf') format('truetype');
}

.grid-item {
  float: left;
  width: 200;
  height: 300px;
  border: 1px solid hsla(0, 0%, 0%, 1);
}

img {
    max-width: 100%;
    max-height: 80%;
}

.navbar {
  font-size: 35px;  
}

body {
    font-family: 'Good-Dog', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 11px;
  width: 310px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}